.text {
  color: aqua;
}
.logo img {
  height: 70px;
  width: 120px;
}
.main-header {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.para span {
  color: #ff5200;
}
#partition {
  /* background: #ff5200;
  /* padding: 80px 0px; */
  background: url(../assets/momo.jpg);
  padding: 80px 0px;
}
.title-para {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
table {
  width: 100%;
}

td {
  border: 1px solid #000;
  padding: 5px 15px;
  text-align: center;
}
thead {
  background: #d4d0ce;
  font-weight: 600;
}
.cat-image {
  width: 100%;
}
.fa-user {
  color: #ff5200;
}
.one {
  position: relative;
  padding: 40px 0px;
  z-index: 12;
}

.one:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0;
  background: #000;
}

.one:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  right: 0;
  background: #fdbe33;
  margin-top: -40px;
}
.one .rhs h4 {
  position: absolute;
  z-index: 1;
}
/* .lhs {
  background: #22ff00;
}
.rhs {
  background: #f3063d;
} */
@media only screen and (max-width: 768px) {
  .fa-user {
    color: #22ff00;
  }
  .select-option {
    width: 100% !important;
  }
}
