.text {
  color: aqua;
}
.logo img {
  height: 70px;
  width: 120px;
}
.main-header {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}
.para span {
  color: #ff5200;
}
#partition {
  /* background: #ff5200;
  /* padding: 80px 0px; */
  background: url(../assets/momo.jpg);
  padding: 80px 0px;
}
.title-para {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
table {
  width: 100%;
}

td {
  border: 1px solid #000;
  padding: 5px 15px;
  text-align: center;
}
thead {
  background: #d4d0ce;
  font-weight: 600;
}
.cat-image {
  width: 100%;
}
.fa-user {
  color: #ff5200;
}
.one {
  padding: 40px 0px;
  z-index: 12;
}

.one:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 10%;
  left: 0;
  background: #000;
}

.one:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 10%;
  right: 0;
  background: #fdbe33;
  margin-top: -40px;
}
.one .rhs h4 {
  position: absolute;
  z-index: 1;
}
/* .lhs {
  background: #22ff00;
}
.rhs {
  background: #f3063d;
} */
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 768px) {
  .fa-user {
    color: #22ff00;
  }
  .select-option {
    width: 100% !important;
  }
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-icon i {
  color: black;
}

.dropdown {
  position: absolute;
  right: 20px;
  top: 5vh;
  width: 250px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
  z-index: 1000;
}
.dropdown .headerlist {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.dropdown a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown a:hover {
  background-color: #f5f5f5;
}

.dropdown button {
  background-color: #298b73;
  color: white;
  height: 45px;
  width: 40vw;
  border: none;
  font-size: small;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover to Show Dropdown */
.menu-icon:hover + .dropdown,
.dropdown:hover {
  display: block;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    flex-wrap: wrap;
  }
  .menu-icon {
    display: flex;
  }

  .headerlists {
    display: none; /* Hide the header links on small screens */
  }

  .dropdown {
    right: 10px;
    width: 200px;
  }

  .logo img {
    height: 40px;
    width: 90px;
  }
  .logo h6 {
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
  }

  .logo {
    margin: 0;
  }

  .dropdown a {
    font-size: 16px;
  }
}
